.table-area {
  overflow-x: auto;
  box-shadow: 0px 1.85px 6.25px 0px rgba(0, 0, 0, 0.3),
    0px 0.5px 1.75px 0px rgba(0, 0, 0, 0.1);
  padding: 16px 40px 20px;
  border-radius: 4px;
  margin-bottom: 60px;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 700;

    thead {
      font-size: 16px;
      border-bottom: 1px solid var(--mineshaft);
    }

    th {
      padding: 10px 15px 8px;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    td {
      padding: 16px 15px;
      text-align: right;

      &:first-child {
        text-align: left;
        padding-left: 4px;
      }
    }

    .month_text {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
    }

    .chevron_wrap {
      display: flex;
      align-items: center;

      .icon-wrap {
        gap: 10px;
        svg {
          width: 12px;
          height: 9px;
        }
      }
    }

    tbody {
      tr {
        border: none;

        &:nth-child(1) {
          td {
            padding-top: 27px;
          }
        }

        &:nth-child(4) {
          border-top: 1px solid var(--alto);
          border-bottom: 1px solid var(--alto);
        }

        &:last-child {
          border-top: 1px solid var(--mineshaft);
        }

        &.last-row {
          border-top: 1px solid #303030;

          td {
            padding-top: 4px;
          }
        }
      }
    }
  }

  .table-down {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

    tbody {
      tr {
        border-bottom: 0;

        &:last-child {
          border: none;
        }

        &:nth-child(1) {
          td {
            padding-top: 16px;
          }
        }

        &:nth-child(4) {
          border: 0;
        }

        td {
          &:first-child {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
