.table_holder {
  @media (max-width: 991px) {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 20px;
  }

  table {
    table-layout: fixed !important;
    border-collapse: collapse;
    width: 100%;

    @media (max-width: 991px) {
      width: 1000px;
    }

    td,
    th {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      text-align: left;
      color: rgba(#000, 0.87);
      letter-spacing: 0.17px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 15px;
      padding: 18px 0 18px 15px;
    }

    td {
      font-weight: 400;
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 17px;
      padding-bottom: 17px;
    }

    tr {
      vertical-align: middle;
      border-width: 0 0 1px;
      border-style: solid;
      border-color: rgba(#000, 0.12);
    }
  }
}

.icon-wrap {
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    cursor: pointer;
  }
}
