:root {
  --primary: #2a9d8f;
  --secondary: #9c27b0;
  --error: #d32f2f;
  --warning: #ef6c00;
  --info: #0288d1;
  --success: #2e7d32;
  --gunPowder: #414158;
  --white: #fff;
  --junglegreen: #2a9d8f;
  --wildsand: #f5f5f5;
  --athensgray: #e7eaee;
  --btntext: #2d2d2d;
  --doderblue: #2196f3;
  --sail: #a6d5fa;
  --royalblue: #4087de;
  --alto: #d9d9d9;
  --mineshaft: #303030;
  --blue: #3b00ed;
  --seance: #9c27b0;
  --amaranth: #d81b60;
  --amber: #ffc107;
  --silver: #BFBFBF;

  --primary-hover: #2a9d8f;
  --secondary-hover: #7b1fa2;
  --error-hover: #c62828;
  --wraning-hover: #c62828;
  --info-hover: #01579b;
  --success-hover: #1b5e20;
  --sidebar-hover: #41415866;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.large {
  min-width: 121px;
}

.medium {
  min-width: 72px;
}

.small {
  min-width: 61px;
}
