.sidebar_select_input > div {
    width: 100%;
}

.sidebar_select_input > div::before {
    display: none;
}

.sidebar_select_input .MuiSelect-select {
    text-transform: uppercase;
}

.sidebar_select .full-width {
    padding: 8px 19px;
}

.MuiMenu-list li{
    text-transform: uppercase !important;
}

.btnLogout {
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding: 20px 20px 12px !important;
    border-color: #676779 !important;
    background: #676779;
    color: #fff !important;
    border-radius: 0 !important;
}

.btnLogout:hover {
    background: #414158 !important;
    border-color: #414158 !important;
}

.customSelect {
    position: relative;
    text-transform: uppercase;
}

.customSelect .departmentSelect {
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    width: auto;
    z-index: 5;
    padding: 3px 0 0;
}

.customSelect .departmentSelect .input-wrap div:first-child {
    text-transform: uppercase;
}

.createProgramContentHead input {
    color: rgba(0, 0, 0, 0.87);
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.25px;
}

.createProgramContentHead input::placeholder {
    opacity: 1;
}

/*.table_custom_style {
    height: calc(100vh - 165px);
    position: relative;
}*/

.amount_field {
    width: 90px;
}

.Upper_Header_Holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}